body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(242, 219, 250);
  background: linear-gradient(
    59deg,
    rgba(242, 219, 250, 1) 0%,
    rgba(220, 255, 251, 1) 100%
  );
}

#contentApp {
  margin: 2lvh;
}

#cards {
  background: rgb(250, 250, 219);
  background: linear-gradient(
    59deg,
    rgba(250, 250, 219, 1) 0%,
    rgba(246, 224, 255, 1) 100%
  );
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
